.vss-product-video-module{
    margin-top:20px;
    background:white;
}
.vss-product-video {
    font: 600 18px/22px "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #484848;
    display: block;
    padding: 17px 20px;
    /* border-bottom: 3px solid #e9e9e9; */
    /* background: #f6f6f6; */
    /* position: relative; */
    margin-bottom: 2%;
}
.vss-slider{
    max-height:448px;
    position: relative;
}
.vss-overflow-hidden{
    width:66%;
    overflow:hidden;
    margin:0px auto;
}
.vss-slider-li-0
{
    float: left;
    list-style: none;
    position: relative;
    width: 780px;
}
.vss-slider-li-1
{
    float: left;
    list-style: none;
    position: relative;
    width: 300px;
}
.vss-slider-video-0 {
    height:400px;
}
.vss-slider-video-1 {
        height:200px;
    }

@media (min-width: 1024px) and (max-width: 1350px) {
    .vss-slider-li-0{
        width: 620px;
    }
    .vss-slider-li-1{
        width: 220px;
    }
    .vss-div-per-video-0 a{
        top: 85% !important;
    }
    .vss-div-per-video-1 a{
        top: 75% !important;
    }
    .vss-slider-video-0 {
        height:380px;
    }
    .vss-slider-video-1 {
        height:200px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .vss-slider-li-0{
        width: 480px;
    }
    .vss-slider-li-1{
        width: 220px;
    }
    .vss-div-per-video-0 a{
        top: 87% !important;
    }
    .vss-div-per-video-1 a{
        top: 75% !important;
    }
    .vss-slider-video-0 {
        height:380px;
    }
    .vss-slider-video-1 {
        height:200px;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .vss-slider-li-0{
        width: 300px;
    }
    .vss-slider-li-1{
        width: 400px;
    }
    .vss-div-per-video-0 a{
        top: 93% !important;
    }
    .vss-div-per-video-1 a{
        top: 75% !important;
    }
    .vss-slider-video-0 {
        height:300px;
    }
    .vss-slider-video-1 {
        height:200px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .vss-slider-li-0{
        width: 220px;
    }
    .vss-slider-li-1{
        width: 220px;
    }
    .vss-div-per-video-0 a{
        top: 96% !important;
    }
    .vss-div-per-video-1 a{
        top: 78% !important;
    }
    .vss-slider-video-0 {
        height:200px;
    }
    .vss-slider-video-1 {
        height:200px;
    }
}
.vss-slider-video-0
{
    width:100%;
}
.vss-slider-video-1
{
    width:100%;
}
/*.vss-link{
    height:12%;
    width:5%;
    position: absolute;
    background-repeat: no-repeat;
    cursor:pointer;
}*/
/*.vss-prev-link{
    background-image: url('../../img/front/prev-horizontal.png');
    background-size:89%;
    left: 9%;
}*/






/*layout 2*/

.vss-video-thumbnail{
    margin-top: 2%;
}
.vss-main-video{
    text-align:center;
}
.vss-center-video-0{
    width:60%;
    margin:0px auto;
}
.vss-center-video-1{
    width:100%;
    margin:0px auto;
}
.vss-uploaded-video-0
{
    max-width:100%;
    height:340px;
}
.vss-uploaded-video-1
{
    max-width:100%;
    height:220px;
}
.vss-web-video-0
{
    width:100%;
    height:340px;
}
.vss-web-video-1
{
    width:100%;
    height:220px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .vss-web-video-0
    {
        height:220px;
    }    
    .vss-web-video-1
    {
        height:220px;
    }
    .vss-uploaded-video-0
    {
        height:220px;
    }
    .vss-uploaded-video-1
    {
        height:220px;
    }
    .vss-image-0{
        width:30px !important;
        height:30px !important;
    }
    .vss-image-1{
        width:30px !important;
        height:30px !important;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .vss-web-video-0
    {
        height:220px;
    }
    .vss-web-video-1
    {
        height:250px;
    }
    .vss-uploaded-video-0
    {
        height:220px;
    }
    .vss-uploaded-video-1
    {
        height:250px;
    }
    .vss-image-0{
        width:50px !important;
        height:50px !important;
    }
    .vss-image-1{
        width:50px !important;
        height:50px !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .vss-web-video-0
    {
        height:280px;
    }
    .vss-web-video-1
    {
        height:220px;
    }
    .vss-uploaded-video-0
    {
        height:280px;
    }
    .vss-uploaded-video-1
    {
        height:220px;
    }
    .vss-image-0{
        width:65px !important;
        height:65px !important;
    }
    .vss-image-1{
        width:30px !important;
        height:30px !important;
    }
}
.vss-thumbnail-slider-li
{
    float:left;
    margin-left: 2%;
    margin-right: 2%;
    text-align:center;
    cursor:pointer;
    border: 2px solid cadetblue;
    padding: 2%;
}
.vss-thumbnail-overflow-hidden
{
    width:80%;
    overflow:hidden;
    margin:0px auto;
}
.vss-thumbnail-slider
{
    overflow:auto;
    margin:0px auto;
}
.vss-hide
{
    display:none;
}
.vss-center-thumbnails{
    margin: 0px auto;
    overflow: auto;
    display:table;
}
.vss-image-0{
    width:80px;
    height:80px;
}
.vss-image-1{
    width:30px;
    height:30px;
}
.vss-border-color{
    border-color:rgba(255, 0, 0, 0.42) !important;
}

.vss-broder{
    border-bottom-color:rgb(238, 238, 238);
    border-bottom-style:inset;
    border-bottom-width:2px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(238, 238, 238);
    border-left-style:inset;
    border-left-width:2px;
    border-right-color:rgb(238, 238, 238);
    border-right-style:inset;
    border-right-width:2px;
    border-top-color:rgb(238, 238, 238);
    border-top-style:inset;
    border-top-width:2px;   
}